.display-bar{
  display:flex
}
input{
  width: 65px;
  height: 65px;
  background-color: darkgreen;
  color: white;
}

input.calculator-display{
  width: 200px;
  height: 60px;
}
.operation{
  background-color: green;
  color: black;
}
input.operation:hover{
  color:white;
  background-color: lightgreen;
}
.display{
  background-color: darkgreen;
  height: 65px;
  width: 200px;
  text-align: right;
  line-height: 5px;
  font-size: 25px;
}
